<%= form_with(model: vote_submission) do |form| %>
  <% if vote_submission.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vote_submission.errors.count, "error") %> prohibited this vote_submission from being saved:</h2>

      <ul>
        <% vote_submission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
