<p style="color: green"><%= notice %></p>

<% content_for :title, "Vote submissions" %>

<h1>Vote submissions</h1>

<div id="vote_submissions">
  <% @vote_submissions.each do |vote_submission| %>
    <%= render vote_submission %>
    <p>
      <%= link_to "Show this vote submission", vote_submission %>
    </p>
  <% end %>
</div>

<%= link_to "New vote submission", new_vote_submission_path %>
