<div>
  <% @election.ballots.each do |ballot| %>
    <div>
      <%= link_to ballot.name.titleize, election_ballot_path(@election, ballot) %>
      <br>
    </div>
  <% end %>
</div>
<div>
  <%= button_to "Add another ballot",
  new_election_ballot_path(@election),
  method: :get %>
</div>
