<h1><%= @ballot_submission.ballot_name %></h1>

<!-- TODO: show vote_submission -->
<h3>Votes</h3>
<div class="vote">
    <div class="column">
      <h5>Topic</h5>
    </div>
    <div class="column">
      <h5>Number of selections</h5>
    </div>
    <div class="centered">
      <h5>Choices</h5>
    </div>

</div>
